.navbar{
margin-bottom: auto;
}

ul li a {
    color: #000;
}

ul li a:hover {
    color: #ffffff;
}

ul li a.active {
    color: #b2e8d6;
}

.navbar-nav .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    position: absolute;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.nav-item.dropdown-hover:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fff;
    background-color: #0056b3;
}


.icon {
    width: 175px;
    height: 175px;
}

.dropdown-toggle {
    background-color: #ECECEC;
    border: #ECECEC;
    --bs-btn-hover-bg: #c5c0c0;
    --bs-btn-active-bg: #948888;
    color: black;
    font-family: 'WorkSans', sans-serif;
    font-size: 20px;
}

.dropdown-item {
    font-family: 'WorkSans', sans-serif;
    color: black;

}

@font-face {
    font-family: 'WorkSans';
    src: url('../../../fonts/work-sans/WorkSans-Regular.woff2') format('woff2'),
    url('../../../fonts/work-sans/WorkSans-Regular.ttf') format('truetype');
}

@media (max-width: 991px) {
    .nav-item.dropdown-hover:hover .dropdown-menu {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
}