.product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.product-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-section-left img {
    height: auto;
    margin-right: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #545151;
    border-radius: 10px;
}

.contact-title {
    max-width: 800px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-button {
    display: flex;
    justify-content: center;
}

.section-break {
    min-height: 100px;
}

@media (max-width: 900px) {
    .product-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-section-left img {
        margin-bottom: 20px;
        width: 100%;
    }
}

.work-sans {
    font-family: WorkSans, sans-serif;
}

@font-face {
    font-family: 'WorkSans';
    src: url('../../../fonts/work-sans/WorkSans-Regular.woff2') format('woff2'),
    url('../../../fonts/work-sans/WorkSans-Regular.ttf') format('truetype');
}